footer{
    background-color: rgb(0, 0, 0);
}

footer{color: rgb(255, 255, 255);}
.reseauxsociaux  {
    display: flex;
    
}

.insta {
    width: 10vw;
    display: inline-block;
    position: relative;
    left: 35%;
    margin-top: 20px;
}
    

  .linkedin { 
    width: 10vw;
    display: inline-block;
    position: relative;
    left: 35%;
    margin-top: 20px;
  }